<div class="content-block about-us-block">
    <div class="container">
        <div class="block-title">
            {{ info_block.getInfoBlock(1)[0].title|raw }}
        </div>
        <div class="block-text">
            {{ info_block.getInfoBlock(1)[0].text|raw }}
        </div>
        <div class="row about-icons">
            {% for n in 1..4 %}
                <div class="col-xs-6 col-sm-3 wow {{ n < 3 ? 'bounceInLeft' : 'bounceInRight' }}" data-wow-offset="100">
                    <img src="{{ asset('images/about-icon-'~n~'.jpg') }}"
                         alt="{{ ('about.us.item.'~n)|trans|replace({'<br>': ' '}) }}">
                    <div class="title">{{ ('about.us.item.'~n)|trans|raw }}</div>
                </div>
                {% if n == 2 %}
                    <div class="visible-xs clearfix"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>