<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDPlvOdUhNpPWR8JBc3tvqZeYecVJ6jVKg&sensor=true"></script>
<div class="salon-block"><div class="container">
{% if salonList %}
<div class="row salon-list">
{% set i = 1 %}
{% for item in salonList %}
<div class="col-sm-6 col-md-3"><div class="item"><div class="city">{{ item.city.title }}</div><div class="region">{{ item.region }}</div>
{% if item.coordinates %}
<div class="icon-block" onclick="map_initialize('{{ item.coordinates }}')"><div class="map-icon"><div class="zoom">{{ 'salon.zoom'|trans }}</div></div></div>
{% endif %}
<div class="adres">{{ item.adres }}</div><div class="work">
{{ 'salon.work'|trans }}<br>
{{ item.work }}
</div><div class="phones">
{{ item.phones|replace({', ': '<br>'})|raw }}
</div><a href="{{ item.tripadvisor }}" class="tripadvisor" target="_blank">{{ 'salon.tripadvisor'|trans|raw }}</a></div></div>
{% if i%4 == 0 %}
<div class="clearfix visible-md visible-lg"></div>
{% endif %}
{% if i%2 == 0 %}
<div class="clearfix visible-sm"></div>
{% endif %}
{% set i = i + 1 %}
{% endfor %}
</div>
{% endif %}
</div></div><div class="modal" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelMap"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-body"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><div id="map"><div id="map-canvas"></div></div></div></div></div></div>