{% extends 'base.html.twig' %}

{% block content %}
    <div class="gray-block">

        {% if video == false %}
        {% include 'components/article_category_menu_list.html.twig' %}
        {% endif %}

        {% if pageData.text is defined and pageData.text is not empty %}
            <div class="page-text container">
                {{ pageData.text|raw }}
            </div>
        {% endif %}

        <div class="container">
            {% if articles %}
                <div class="articles-list">
                    {% for item in articles %}
                        <a href="{{ path(articleRoute, {'slug': item.slug}) }}" class="item">
                            <div class="row">
                                {% if item.path %}
                                    <div class="col-sm-3">
                                        <div class="image">
                                            <img src="{{ asset('images/article/' ~ item.path) }}" alt="{{ item.title }}" class="w100">
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-sm-9">
                                    <div class="date">{{ item.createdAt|date('d.m.Y') }}</div>
                                    <div class="title">{{ item.title }}</div>
                                    <div class="text">{{ item.text|striptags|truncate(300, true)|raw }}</div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="content-block">
                    <div class="empty-page">
                        {{ 'empty.article.category'|trans }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if pagination.totalPages > 1 %}
        <div class="content-block">
            <div class="container">
                {{ cms_pagination(pagination) }}
            </div>
        </div>
    {% endif %}

    {% include 'components/wait_for_you_block.html.twig' %}

{% endblock %}