{% extends 'base.html.twig' %}

{% block content %}
    {% if pageData.text is defined and pageData.text is not empty %}
        <div class="page-text container">
            {{ pageData.text|raw }}
        </div>
    {% endif %}

    <div class="stock-block gray-block">
        <div class="container">
            {% if objects %}
                <div class="row stock-list">
                    {% set i = 1 %}
                    {% for item in objects %}
                        <div class="col-sm-6 col-md-4 item-wrap">
                            <a href="{{ path(objectsRoute, {'slug': item.slug}) }}" class="item">
                                {% if item.path %}
                                    <div class="image">
                                        <img src="{{ asset(item.webPath) }}" alt="{{ item.title }}" class="w100">
                                    </div>
                                {% endif %}
                                <div class="date">{{ (item.dateStart|date('d.m.Y')) ~ ' - ' ~ (item.dateEnd|date('d.m.Y')) }}</div>
                                <div class="title">{{ item.title }}</div>
                            </a>
                        </div>
                        {% if i%3 == 0 %}
                            <div class="clearfix visible-md visible-lg"></div>
                        {% endif %}
                        {% if i%2 == 0 %}
                            <div class="clearfix visible-sm"></div>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            {% endif %}

            <a href="{{ path(route, {'slug': 'privilege'}) }}" class="familiarize_link">{{ 'familiarize.privilege'|trans|raw }}<img alt="arrow" src="{{ asset('images/arrow-red.png') }}"/></a>
        </div>
    </div>

    <div class="white-block"></div>

    {% include 'components/wait_for_you_block.html.twig' %}

{% endblock %}