{% extends 'base.html.twig' %}

{% block content %}
    {% if pageData.text is defined and pageData.text is not empty %}
        <div class="page-text container">
            {{ pageData.text|raw }}
        </div>
    {% endif %}

    <div class="staff-block">
        <div class="container">
            {% if objects %}
                <div class="row staff-list">
                    {% set i = 1 %}
                    {% for item in objects %}
                        <div class="col-sm-6 col-md-4">
                            <div class="item">
                                {% if item.path %}
                                    <div class="image">
                                        <img src="{{ asset(item.webPath) }}" alt="{{ item.name }}" class="img-responsive">
                                    </div>
                                {% endif %}
                                <div class="title">{{ item.name }}</div>
                                <div class="text">
                                    {{ item.text }}
                                </div>
                                <div class="cert-block">
                                    {% if item.cert_path_1 %}
                                    <a href="{{ asset(item.webCertPath1) }}" data-fancybox="gallary-{{ item.id }}">
                                        <img src="{{ asset(item.webCertPath1) }}" alt="{{ item.name }} Сертификат 1" />
                                    </a>
                                    {% endif %}
                                    {% if item.cert_path_2 %}
                                    <a href="{{ asset(item.webCertPath2) }}" data-fancybox="gallary-{{ item.id }}">
                                        <img src="{{ asset(item.webCertPath2) }}" alt="{{ item.name }} Сертификат 2" />
                                    </a>
                                    {% endif %}
                                    {% if item.cert_path_3 %}
                                    <a href="{{ asset(item.webCertPath3) }}" data-fancybox="gallary-{{ item.id }}">
                                        <img src="{{ asset(item.webCertPath3) }}" alt="{{ item.name }} Сертификат 3" />
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if i%3 == 0 %}
                            <div class="clearfix visible-md visible-lg"></div>
                        {% endif %}
                        {% if i%2 == 0 %}
                            <div class="clearfix visible-sm"></div>
                        {% endif %}
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'components/wait_for_you_block.html.twig' %}
    
   <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <style>
        .cert-block
        {
            font-size: 0;
        }
        .cert-block a
        {
            display: inline-block;
            vertical-align: top;
            width: 48%;
            margin-right: 4%;
            height: 110px;
            overflow: hidden;
            box-shadow: 0 0 20px 2px rgba(0,0,0,.1); 
            position: relative;
            margin-top: 14px;
        }
        .cert-block a:nth-child(even)
        {
            margin-right: 0;
        }
        .cert-block a img
        {
            width:100%;
        }
        .cert-block a:before {
            content: '';
          background: #752b3c;
            opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
            transition: .2s;
        }
        .cert-block a:hover:before {
            opacity: .3;
        }

        
    </style>

{% endblock %}